.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.box {
  width: 20%;
  height: auto;
  background-color: #72dcff;
  border-left: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box span {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.container button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 22px;
  border: none;
  outline: none;
  background-color: #2200e0;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.25px;
  cursor: pointer;
}